body{
    background: linear-gradient(40deg, navy 100%, blue 50%, white 10%);
    margin: auto;
    color: #fff;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #0400d6;
    color: black;
  }
  
  .topnav a.active {
    background-color: #0400d6;
    color: black;
  }

  h1, h2, h4, p, ul, th, td{
    font-size: 20px;
    background-color: #00005f;
  }

  header{
    font-family: Climate Crisis, sans-serif;
    font-size: 50px;
    background-color: #00005f;
  }

  .h{
    margin: auto;
  }

  .games{
  font-family: serif;
  }

  table{
    table-layout: fixed;
  }

  h1, h2, h4, header{
    border-bottom: 3px solid #131318;
  }

  table, th, td{
    border: 6px solid #6f9ceb;
  }

  @media screen and (max-width: 600px) and (max-height: 600px) {
    main{
      padding: auto;
    }
  }

  header, h1, h2, h4, p, ul{
    padding: 0px auto;
  }

  .h{
    font-size: 25px;
  }

  img{
    width: 150px;
    height: 100px;
  }

  .allgames{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:fit-content;
    justify-content: space-evenly;
    overflow-wrap: anywhere;
  }

  .text{
    width: 600px;
    height: 50px;
  }